<section id="mu-about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-about-area">
            <!-- Start Feature Content -->
            <div class="row">
              <div class="col-md-6">
                <div class="mu-about-left">
                  <img class="" src="assets/images/about.jpg" alt="Men Speaker">
                </div>
              </div>
              <div class="col-md-6">
                <div class="mu-about-right">
                  <h2>קצת עלינו</h2>
<p>אנחנו מוצאים עבורכם רכבים במחירים שוברי שוק שניתנים רק לסוחרי רכב.</p>
<p>אתם מציעים סכום שברצונכם לקנות את הרכב בו.</p>
<p>הסכום הגבוה ביותר זוכה</p>
                </div>
              </div>
            </div>
            <!-- End Feature Content -->

          </div>
        </div>
      </div>
    </div>
  </section>