<section id="mu-schedule">
    <div class="container">
      <div class="row">
        <div class="colo-md-12">
          <div class="mu-schedule-area">

            <div class="mu-title-area">
              <h2 class="mu-title">?איך זה עובד</h2>
            </div>

            <div class="mu-schedule-content-area"> 
              <!-- Tab panes -->
              <div class="tab-content mu-schedule-content">
                  <div role="tabpanel" class="tab-pane fade mu-event-timeline in active" id="first-day">
                    <ul>
                      <li>
                        <div class="mu-single-event">
                          <p class="mu-event-time">שלב ראשון </p>
                          <h3>נכנסים לאתר ובוחרים רכב</h3>
                        </div>
                      </li>
                      <li>
                        <div class="mu-single-event">
                          <p class="mu-event-time">שלב שני</p>
                          <h3>במידה ורשומים לאתר אפשר לדלג לשלב השלישי</h3>
                          <span>אם לא רשומים אז זה הזמן</span>
                        </div>
                      </li>
                      <li>
                        <div class="mu-single-event">
                          <p class="mu-event-time">שלב שלישי</p>
                          <h3>בוחרים רכב מהרשימה</h3>
                        </div>
                      </li>
                      <li>
                        <div class="mu-single-event">
                          <p class="mu-event-time">שלב רביעי</p>
                          <h3>מציעים סכום לרכישה</h3>
                        </div>
                      </li>
                      <li>
                        <div class="mu-single-event">
                          <p class="mu-event-time">השלב הסופי</p>
                          <h3>מחכים לראות שההצעה שלנו תמיד הגבוהה ביותר</h3>
                          <span>זכיתם??? מזל טוב אנחנו כבר ניצור עמכם קשר</span>
                        </div>
                      </li>
                    </ul>
                  </div>                      
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>