  	<!-- Start Header -->
<app-head-nav-bar></app-head-nav-bar>
    <!-- End Header -->
    
    <!-- Start main content -->
    <main role="main">
      <!-- Start About -->
<app-about-us></app-about-us>
      <!-- End About -->

      <!-- Start How It Wotks  -->
<app-how-it-works></app-how-it-works>
      <!-- End How It Works -->
  
      <!-- Start Speakers -->
      <section id="mu-speakers">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="mu-speakers-area">
  
                <div class="mu-title-area">
                  <h2 class="mu-title">הרכבים שלנו</h2>
                  <p>כל הרכבים נבחרו בקפידה בדגש על איכות מחיר אחריות</p>
                  <p>המטרה שלנו היא לתת ללקוח לדעת שיש לרכב אמא ואבא</p>
                </div>
  
                <!-- Start Speakers Content -->
                <div class="mu-speakers-content">
  
                  <div class="mu-speakers-slider">
  
                    <!-- Start single speaker -->
                    <div class="mu-single-speakers">
                      <img src="assets/images/reno.jpg" alt="speaker img">
                      <div class="mu-single-speakers-info">
                        <h3>רנו קפצ'ור</h3>
                        <p>שנת 2014 מחיר מחירון 58,000 </p>
                        <h3>הצעות החל מ43,000</h3>
                        <ul class="mu-single-speakers-social">
                          <li>
                            <p>לקניה</p>
                            <a href="#">
                              <i class="fa fa-money fa-3x"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- End single speaker -->
  
                    <!-- Start single speaker -->
                    <div class="mu-single-speakers">
                      <img src="assets/images/sportage.jpg" alt="speaker img">
                      <div class="mu-single-speakers-info">
                          <h3>קיה ספורטאג</h3>
                          <p>שנת 2015 מחיר מחירון 97,000 </p>
                          <h3>הצעות החל מ65,000</h3>
                          <ul class="mu-single-speakers-social">
                            <li>
                              <p>לקניה</p>
                              <a href="#">
                                <i class="fa fa-money fa-3x"></i></a></li>
                          </ul>
                        </div>
                    </div>
                    <!-- End single speaker -->
  
  
                    <!-- Start single speaker -->
                    <div class="mu-single-speakers">
                      <img src="assets/images/rio.jpg" alt="speaker img">
                      <div class="mu-single-speakers-info">
                          <h3>קיה ריו</h3>
                          <p>שנת 2011 מחיר מחירון 35,000 </p>
                          <h3>הצעות החל מ20,000</h3>
                          <ul class="mu-single-speakers-social">
                            <li>
                              <p>לקניה</p>
                              <a href="#">
                                <i class="fa fa-money fa-3x"></i></a></li>
                          </ul>
                        </div>
                    </div>
                    <!-- End single speaker -->
  
  
                    <!-- Start single speaker -->
                    <div class="mu-single-speakers">
                      <img src="assets/images/I30.jpg" alt="speaker img">
                      <div class="mu-single-speakers-info">
                          <h3>רנו קפצ'ור</h3>
                          <p>שנת 2014 מחיר מחירון 58,000 </p>
                          <h3>הצעות החל מ43,000</h3>
                          <ul class="mu-single-speakers-social">
                            <li>
                              <p>לקניה</p>
                              <a href="#">
                                <i class="fa fa-money fa-3x"></i></a></li>
                          </ul>
                        </div>
                    </div>
                    <!-- End single speaker -->
  
                    <!-- Start single speaker -->
                    <div class="mu-single-speakers">
                      <img src="assets/images/rapid.jpg" alt="speaker img">
                      <div class="mu-single-speakers-info">
                          <h3>רנו קפצ'ור</h3>
                          <p>שנת 2014 מחיר מחירון 58,000 </p>
                          <h3>הצעות החל מ43,000</h3>
                          <ul class="mu-single-speakers-social">
                            <li>
                              <p>לקניה</p>
                              <a href="#">
                                <i class="fa fa-money fa-3x"></i></a></li>
                          </ul>
                        </div>
                    </div>
                    <!-- End single speaker -->
  
                    <!-- Start single speaker -->
                    <div class="mu-single-speakers">
                      <img src="assets/images/i20.jpg" alt="speaker img">
                      <div class="mu-single-speakers-info">
                          <h3>רנו קפצ'ור</h3>
                          <p>שנת 2014 מחיר מחירון 58,000 </p>
                          <h3>הצעות החל מ43,000</h3>
                          <ul class="mu-single-speakers-social">
                            <li>
                              <p>לקניה</p>
                              <a href="#">
                                <i class="fa fa-money fa-3x"></i></a></li>
                          </ul>
                        </div>
                    </div>
                    <!-- End single speaker -->
                  </div>
                </div>
                <!-- End Speakers Content -->
  
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Speakers -->
  
      <!-- Start Venue -->
      <section id="mu-venue">
        <div class="mu-venue-area">
          <div class="row">
  
            <div class="col-md-6">
              <div class="mu-venue-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3508.8176744277202!2d-81.47150788457147!3d28.424757900613237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e77e378ec5a9a9%3A0x2feec9271ed22c5b!2sOrange+County+Convention+Center!5e0!3m2!1sen!2sbd!4v1503833952781" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="mu-venue-address">
                <h2>VENUE <i class="fa fa-chevron-right" aria-hidden="true"></i></h2>
                <h3>Orange County Convention Center</h3>
                <h4>9800 International Dr, Orlando, FL 32819, USA</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem reiciendis incidunt accusantium porro amet repellendus hic corporis fugiat officiis, sequi iste distinctio possimus dignissimos, veniam quae delectus. Fuga, modi, perferendis!</p>
              </div>
            </div>
  
          </div>
        </div>
      </section>
      <!-- End Venue -->
    
      <!-- Start Register  -->
      <!-- <section id="mu-register">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="mu-register-area">
  
                <div class="mu-title-area">
                  <h2 class="mu-title">צור קשר</h2>
                  <p>רוצה שנרים אליך טלפון? לא הבנת בדיוק איך זה עובד? יש לך שאלות?</p>
                  <p>מלא את הטופס שלמטה ונחזור אליך בהקדם</p>
                </div>
  
                <div class="mu-register-content">
                  <form class="mu-register-form">
  
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">                
                          <input type="text" class="form-control" placeholder="Your Full Name" id="name" name="name" required="">
                        </div>
                      </div>
  
                      <div class="col-md-6">
                        <div class="form-group">                
                          <input type="email" class="form-control" placeholder="Enter Your Email" id="email" name="email" required="">
                        </div>     
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">                
                          <input type="text" class="form-control" placeholder="Your Phone Number" id="telephone" name="telephone" required="">
                        </div>
                      </div>
                    </div>
  
                    <button type="submit" class="mu-reg-submit-btn">SUBMIT</button>
  
                        </form>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- End Register -->
  
      <!-- Start FAQ -->
      <section id="mu-faq">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="mu-faq-area">
  
                <div class="mu-title-area">
                  <h2 class="mu-title">שאלות ותשובות</h2>
                
                </div>
  
                <!-- <div class="mu-faq-content">
  
                  <div class="panel-group" id="accordion">
  
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
                                <span class="fa fa-angle-down"></span> Lorem ipsum dolor sit amet.
                              </a>
                            </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
  
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <span class="fa fa-angle-up"></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                              </a>
                            </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
  
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <span class="fa fa-angle-up"></span> Lorem ipsum dolor sit amet, consectetur. 
                              </a>
                            </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
  
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                <span class="fa fa-angle-up"></span> Lorem ipsum dolor sit amet, consectetur adipisicing. 
                              </a>
                            </h4>
                          </div>
                          <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
  
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                <span class="fa fa-angle-up"></span> Lorem ipsum dolor sit amet, consectetur. 
                              </a>
                            </h4>
                          </div>
                          <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
  
  
                    </div>
                </div> -->
  
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End FAQ -->
  
      <!-- Start Sponsors -->
      <section id="mu-sponsors">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="mu-sponsors-area">
                
                <div class="mu-title-area">
                  <h2 class="mu-title">השופתפים שלנו</h2>
                  <p>באקו מוטור אנחנו עובדים אם סוכניויבואני הרכב המובילים בארץ</p>
                  <p>על מנת להבטיח לכם שירות מעולה ,אחריות ,ותמורה לכספכם</p>
                </div>
                
                <!-- Start spnonsors brand logo -->
                <div class="mu-sponsors-content">
                  <div class="row">
                  
                    <div class="col-md-2 col-sm-4 col-xs-4">
                      <div class="mu-sponsors-single">
                        <img src="assets/images/sponsor-logo-1.png" alt="Brand Logo">
                      </div>
                    </div>
  
                    <div class="col-md-2 col-sm-4 col-xs-4">
                      <div class="mu-sponsors-single">
                        <img src="assets/images/sponsor-logo-2.png" alt="Brand Logo">
                      </div>
                    </div>
  
                    <div class="col-md-2 col-sm-4 col-xs-4">
                      <div class="mu-sponsors-single">
                        <img src="assets/images/sponsor-logo-3.png" alt="Brand Logo">
                      </div>
                    </div>
  
                    <div class="col-md-2 col-sm-4 col-xs-4">
                      <div class="mu-sponsors-single">
                        <img src="assets/images/sponsor-logo-4.png" alt="Brand Logo">
                      </div>
                    </div>
  
  
                      <div class="col-md-2 col-sm-4 col-xs-4">
                      <div class="mu-sponsors-single">
                        <img src="assets/images/sponsor-logo-1.png" alt="Brand Logo">
                      </div>
                    </div>
  
                    <div class="col-md-2 col-sm-4 col-xs-4">
                      <div class="mu-sponsors-single">
                        <img src="assets/images/sponsor-logo-2.png" alt="Brand Logo">
                      </div>
                    </div>
  
                    <div class="col-md-2 col-sm-4 col-xs-4">
                      <div class="mu-sponsors-single">
                        <img src="assets/images/sponsor-logo-3.png" alt="Brand Logo">
                      </div>
                    </div>
  
                  </div>
                </div>
                <!-- End spnonsors brand logo -->
  
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Sponsors -->
  
  
      <!-- Start Contact -->
      <section id="mu-contact">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="mu-contact-area">
  
                <div class="mu-title-area">
                  <h2 class="mu-heading-title">צור קשר</h2>
                  <p>?רוצה שנרים אליך טלפון? לא הבנת בדיוק איך זה עובד? יש לך שאלות</p>
                  <p>מלא את הטופס שלמטה ונחזור אליך בהקדם</p>
                </div>
  
                <!-- Start Contact Content -->
                <div class="mu-contact-content">
                  <div class="row">
  
                  <div class="col-md-12">
                    <div class="mu-contact-form-area">
                      <div id="form-messages"></div>
                        <form id="ajax-contact" method="post" action="mailer.php" class="mu-contact-form">
                          <div class="form-group">                
                            <input type="text" class="form-control" placeholder="Name" id="name" name="name" required>
                          </div>
                          <div class="form-group">                
                            <input type="email" class="form-control" placeholder="Enter Email" id="email" name="email" required>
                          </div>              
                          <div class="form-group">
                            <textarea class="form-control" placeholder="Message" id="message" name="message" required></textarea>
                          </div>
                          <button type="submit" class="mu-send-msg-btn"><span>SEND</span></button>
                              </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Contact Content -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact -->
  
    </main>
    
    <!-- End main content -->	
        
        
    <!-- Start footer -->
    <footer id="mu-footer" role="contentinfo">
        <div class="container">
          <div class="mu-footer-area">
            <div class="mu-footer-top">
              <div class="mu-social-media">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </div>
            </div>
            <div class="mu-footer-bottom">
              <p class="mu-copy-right">&copy; Copyright <a rel="nofollow" href="http://markups.io">markups.io</a>. All right reserved.</p>
            </div>
          </div>
        </div>
  
    </footer>